<div class="row no-gutters entry">
    <div class="col-xl-5">
        <img class="avatar" src="{{imgUrl}}"/>
    </div>
    <div class="col-xl-7">
        <div class="time">{{{time}}}</div>
        <div class="title">{{{title}}}</div>
        <a href="{{link}}" target="_blank">
            <div class="location">{{location}} <i class="fas fa-external-link-alt"></i></div>
        </a>
    </div>
</div>